.tapiz-welcome {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(3, 0, 0, 0.4);
  width: 100%;
  height: 800px;
}

.contenedor-principal-contact {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url("../../assets/images/harry-potter-vuela.jpg");
  background-repeat: repeat;
  background-size: cover;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.texto-about h1 {
  color: white;
  text-shadow: 3px 3px rgb(219, 215, 209, 0.5);
}

.texto-about h2 {
  color: white;
}

.texto-about p {
  color: white;
  padding-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.forms-group {
  padding: 30px;
  backdrop-filter: blur(50px);
  width: 700px;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .forms-group {
    width: 300px;
  }
}

.form-label {
  color: white;
}
